extends layout

block content
  div.container
    div.content

      if !venues
        h2 Trending Events Near You.

        div.disclaimer
          p Want to go out and do something, but not sure what or where to go?
            | Check out what's good in your area for some inspiration!
            | We are your guide to what's trending near you,
            | based on your location and where people are.

          div.geolocation
            a(href="")

      else
        if venues.length > 0
          h2 Found #{venues.length} trending events
        else
          h2 There are no events trending at the moment in your area.

        div.radius-filters
          a(class="radius", data-meters="1600", href="#") 1 mile
          a(class="radius", data-meters="4800", href="#") 3 miles
          a(class="radius", data-meters="8000", href="#") 5 miles

        if venues.length > 0
          div
            for venue in venues
              div.venue
                h3: a(href='#{venue.url}') #{venue.name}
                ul
                 li #[span #{venue.stats.checkinsCount}] total checkins
                 li #[span #{venue.hereNow.count}] are here now

        